<?xml version='1.0' encoding='utf-8'?>
<widget id="com.demo.demo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DemoApp</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	<platform name="android">
		<icon src="icon/ldpi.png" density="ldpi" />
		<icon src="icon/mdpi.png" density="mdpi" />
		<icon src="icon/hdpi.png" density="hdpi" />
		<icon src="icon/xhdpi.png" density="xhdpi" />
	  <!-- you can use any density that exists in the Android project -->
	  <splash src="icon/splash-land-hdpi.png" density="land-hdpi"/>
	  <splash src="icon/splash-land-ldpi.png" density="land-ldpi"/>
	  <splash src="icon/splash-land-mdpi.png" density="land-mdpi"/>
	  <splash src="icon/splash-land-xhdpi.png" density="land-xhdpi"/>

	  <splash src="icon/splash-port-hdpi.png" density="port-hdpi"/>
	  <splash src="icon/splash-port-ldpi.png" density="port-ldpi"/>
	  <splash src="icon/splash-port-mdpi.png" density="port-mdpi"/>
	  <splash src="icon/splash-port-xhdpi.png" density="port-xhdpi"/>
</platform>
	<preference name="SplashScreen" value="screen" />
	<preference name="SplashScreenDelay" value="5000"/> 
</widget>
